# Created by .ignore support plugin (hsz.mobi)
.idea/
spboot-jdbc/spboot-jdbc.iml
spboot-mybatis1/src/main/resources/static/
spboot-mybatis1/src/main/resources/templates/
/learnAndTest/learnAndTest.iml
/learnAndTest/target/
/spbootdubbo/dubbo-interface/dubbointerface.iml
/spbootdubbo/spbootdubbo.iml
