<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangye.spbootmybatis1.mapper.UserMapper">

    <select id="getUserById" resultType="com.wangye.spbootmybatis1.model.User">
        select
            id as id,
            name as name,
            age as age
        from
            user
        where
            id = #{id}
    </select>

</mapper>